.company-page {
  height: 100%;
  width: 100%;
  background-color: white;
}

.loading {
  font-size: 40px;
  text-align: center;
}

.c-details {
  width: 70%;
  color: rgb(3, 92, 3);
  background-color: white;
  padding: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.table {
  font-size: 1.7em;
  border-collapse: collapse;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  min-width: 400px;
}

tbody tr {
  width: 50px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.table thead tr {
  text-align: left;
  color: azure;
  font-weight: bold;
  background-color: #009879;
}

th,
td {
  padding: 12px;
}

.stock-name {
  font-size: 4em;
}

.sub-stock-name {
  font-size: 1.2em;
}

.icon-up {
  color: blue;
  font-size: 1.6em;
}

.icon-down {
  color: red;
  font-size: 1.6em;
}

.open-price {
  height: 100%;
  font-size: 1.5em;
  text-align: center;
}

.price-change {
  height: 100%;
  font-size: 1em;
  text-align: center;
}
