.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-container {
  width: 65%;
  text-align: center;
}

.intro-text {
  height: 16%;
  color: black;
  text-align: center;
  vertical-align: middle;
  font-size: 70px;
}

.input-bar {
  width: 100%;
  height: 70px;
  display: flex;
  border-radius: 10px;
}

.input-bar input {
  width: 90%;
  height: 100%;
  font-size: 25px;
  background-color: white;
  border: 2px solid #444d56;
  box-sizing: border-box;
  padding-left: 10px;
}

.input-bar .search-icon {
  color: darkcyan;
  font-size: 30px;
  background-color: white;
  border-top: 2px solid #444d56;
  border-bottom: 2px solid #444d56;
  border-right: 2px solid #444d56;
  box-sizing: border-box;
  height: 100%;
  width: 10%;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

input:focus {
  outline: none;
}

.companies {
  margin-top: 5px;
  height: 200px;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.companies::-webkit-scrollbar {
  display: none;
}

.company-element {
  color: black;
  height: 70px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-element:hover {
  background-color: lightgray;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
}

.symbol-name {
  text-align: center;
  padding-left: 10px;
}

.comp-name {
  width: 50%;
}
